*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    margin: 0 auto;
    padding: 0 122px;
}
.header{
    max-width: 1440px;
    /* border: 2px solid red; */
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav ul{
    display: flex;
    gap: 25px;
}
.logo{
    width: 268.01px;
    height: 59.97px;    
}

.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content_text{
    width: 60%;
}
.header-content_text h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 58.59px;
    margin-bottom: 58px;
}
.header-content_text button{
    width: 179px;
    height: 53px;
    border-radius: 7px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    color: white;
}
.header-content_img{
    width: 40%;
}
.header-content_img img{
    width: 533px;
    height: 686px;
}
.divclass{
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 603px;
    height: 49px;
    top: 853px;
   margin-left: 320px;
}
.divimg10{
    width: 1154px;
    height: 583px;
    top: 853px;
    left: 143px;
    gap: 0px;
    opacity: 0px;    
    
}
.divimg10 p{
    width: 289px;
height: 106px;
top: 1307px;
left: 165px;
gap: 0px;
opacity: 0px;
color: #767676;

}
.vvv11{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 150px;
    background-color: white;

}
.bbb29{
    width: 1450px;
height: 300px;
top: 1700px;
gap: 0px;
opacity: 0px;
margin-left: 50px;
background:linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
;
}
.bbb333{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 150px;
    gap: 100px 100px; 
   
}


@media (max-width:768px) {
    .container{
        padding: 0 87px;
    }
    .nav ul{
        display: none;
    }
    .header-content_text h1{
        font-size: 40px;
        line-height: 40px;  
    }
    .header-content_text button{
        width: 141px;
        height: 42px;
        font-size: 15px;
        line-height: 17.58px;
    }
    .header-content_img img{
        width: 368px;
        height: 473px;        
    }


}
@media (max-width:578px) {
    .nav{
        justify-content: center;
    }
    .logo{
        width: 183px;
        height: 36px;    
    }
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-image: url(img/bgmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .header-content_text{
        text-align: center;
    }
    .header-content_text h1{
        font-size: 25px;
        line-height: 25px;  
        margin-bottom: 42px;

    }
    .header-content_text button{
        width: 93px;
        height: 28px;
        font-size: 10px;
        line-height: 11.58px;
    }
    .header-content_img img{
        display: none;
    }
}